<select name="category-filter" id="">
  <option value="all">Alle</option>
  <% if (categories && categories.length > 0) { %> <%
  categories.forEach(category => { %>
  <option value="<%= category.id %>"><%= category.name %></option>
  <% }); %> <% } %>
</select>

<div class="products">
  <% if (consumables && consumables.length > 0) { %> <%
  consumables.forEach(consumable => { %>
  <article class="product">
    <div class="product__image">
      <img src="<%= consumable.image %>" alt="<%= consumable.name %>" />
    </div>
    <div class="product__details">
      <h2 class="product__name"><%= consumable.name %></h2>
      <p class="product__price"><%= consumable.price %> €</p>

      <button class="product__button" data-id="<%= consumable.id %>">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
          />
        </svg>
        Bestellen
      </button>
      <form action="" method="post" class="product__form">
        <input type="hidden" name="product_id" value="<%= consumable.id %>" />
        <button>-</button>
        <input type="number" name="quantity" min="1" max="10" value="1" />
        <button>+</button>
      </form>
    </div>
  </article>
  <% }); %> <% } %>
</div>
