<div>
  <h2>Openstaande rekeningen</h2>

  <% orders.forEach(order => { %> <% if (order.status === 'NOT_PAID') { %>
  <div class="order">
    <p>Bestelling ID: <%= order.id %></p>

    <% order.orderItems.forEach(item => { %>
    <div class="order-item">
      <p>Product: <%= item.consumable.name %></p>
      <p>Aantal: <%= item.quantity %></p>
      <p>Prijs: €<%= item.price %></p>
    </div>
    <% }) %>

    <p>Totaal: €<%= totalPrice %></p>
  </div>

  <form action="/create-payment" method="post">
    <input type="hidden" name="orderId" value="<%= order.id %>" />
    <input type="hidden" name="amount" value="<%= totalPrice %>" />
    <button type="submit">Betalen</button>
  </form>
  <% } %> <% }) %>
</div>
