<a class="back" href="/wedstrijden"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
    </svg>
    Ga terug naar teams overzicht</a>
<h1>Wedstrijden <%= typeof teamLetter !=='undefined' ? 'Team ' + teamLetter.toUpperCase() : '' %>
</h1>
<div class="table-controls">
    <div></div>
    <div class="filter-container">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="filter-icon">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z" />
        </svg>
        <div class="filter">
            <select id="filterSelect-matches" class="filter-select">
                <option value="upcoming">Aankomende wedstrijden</option>
                <option value="past">Afgelopen wedstrijden</option>
                <option value="all">Alle wedstrijden</option>
            </select>
        </div>
    </div>
</div>

<div class="wedstrijden-container">


    <% if (matches && matches.length> 0) { %>
        <div class="wedstrijden-grid">
            <% matches.forEach(match=> { %>
                <div class="wedstrijd-blok" data-date="<%= match.date %>">
                    <div class="wedstrijd-header">
                        <h2>
                            <%= match.team ? match.team.name : '-' %>
                        </h2>
                        <div class="wedstrijd-details">
                            <p class="wedstrijd-date">
                                <%= new Date(match.date).toLocaleDateString('nl-BE') %>
                            </p>
                            <% if (match.start_time) { %>
                                <p class="wedstrijd-time">
                                    <%= match.start_time %>
                                        <% if (match.end_time) { %> - <%= match.end_time %>
                                                <% } %>
                                </p>
                                <% } %>
                                    <p class="wedstrijd-location">
                                        <%= match.location %>
                                    </p>
                                    <p class="wedstrijd-home-away">
                                        <%= match.home_away %>
                                    </p>
                        </div>
                    </div>

                    <div class="wedstrijd-participants">
                        <div class="user ingelogd-user" data-is-admin="<%= user.role_id === 1 ? 'true' : 'false' %>">
                            <div class="user-status-container">
                                <p class="user-status-text">Jouw status</p>
                                <button class="attendance-button status-unknown" data-status="unknown"
                                    data-user-id="<%= user.id %>" data-match-id="<%= match.id %>">
                                    <i class="fas fa-question"></i>
                                </button>
                            </div>
                            <div class="selection-status" id="user-selection-<%= match.id %>"
                                data-user-id="<%= user.id %>" data-match-id="<%= match.id %>">
                                <p class="selection-text" id="selection-text-<%= match.id %>">
                                    Laden...
                                </p>
                            </div>
                        </div>

                        <div class="scrollable-users-container">
                            <div class="match-user-search-container">
                                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                    class="search-icon">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z">
                                    </path>
                                </svg>
                                <input type="text" class="match-user-search-input" placeholder="Zoek een speler..."
                                    data-match-id="<%= match.id %>">
                            </div>

                            <div class="other-users" data-match-id="<%= match.id %>">
                                <% if (locals.users && users.length> 0) { %>
                                    <% users.forEach(otherUser=> { %>
                                        <% if (otherUser.id !==user.id) { %>
                                            <div class="user">
                                                <p>
                                                    <%= otherUser.firstname %>
                                                        <%= otherUser.lastname %>
                                                </p>
                                                <div class="attendence">

                                                    <p class="attendence-status">
                                                        <% if (otherUser.attendance && otherUser.attendance[match.id]) {
                                                            %>
                                                            <span
                                                                class="<%= otherUser.attendance[match.id].status === 'available' ? 'attendence--green' : 
                                                                       otherUser.attendance[match.id].status === 'unavailable' ? 'attendence--red' : 
                                                                       otherUser.attendance[match.id].status === 'reserve' ? 'attendence--orange' : '' %>">
                                                                <%= otherUser.attendance[match.id].status==='available'
                                                                    ? 'Beschikbaar' :
                                                                    otherUser.attendance[match.id].status==='unavailable'
                                                                    ? 'Niet beschikbaar' :
                                                                    otherUser.attendance[match.id].status==='reserve'
                                                                    ? 'Reserve' : 'Onbekend' %>
                                                            </span>
                                                            <% } else { %>
                                                                <span>Onbekend</span>
                                                                <% } %>
                                                    </p>
                                                    <% if (user.role_id===1) { %>
                                                        <p
                                                            class="selection-status <%= otherUser.attendance && otherUser.attendance[match.id] && otherUser.attendance[match.id].is_selected === 'selected' ? 'attendence--green' : '' %>">
                                                            <button class="select-player-button"
                                                                data-user-id="<%= otherUser.id %>"
                                                                data-match-id="<%= match.id %>"
                                                                data-is-selected="<%= otherUser.attendance && otherUser.attendance[match.id] ? otherUser.attendance[match.id].is_selected : 'not_selected' %>">
                                                                <%= otherUser.attendance &&
                                                                    otherUser.attendance[match.id] &&
                                                                    otherUser.attendance[match.id].is_selected==='selected'
                                                                    ? 'Geselecteerd' : 'Selecteer speler' %>
                                                            </button>
                                                        </p>
                                                        <% } else { %>
                                                            <p
                                                                class="<%= otherUser.attendance && otherUser.attendance[match.id] && otherUser.attendance[match.id].is_selected === 'selected' ? 'attendence--green' : '' %>">
                                                                <%= otherUser.attendance &&
                                                                    otherUser.attendance[match.id] &&
                                                                    otherUser.attendance[match.id].is_selected==='selected'
                                                                    ? 'Geselecteerd' : 'Niet geselecteerd' %>
                                                            </p>
                                                            <% } %>
                                                </div>
                                            </div>
                                            <% } %>
                                                <% }); %>
                                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>
        <% } else { %>
            <% if (teamLetter) { %>
                <p>Er zijn momenteel geen wedstrijden gepland voor Team <%= teamLetter.toUpperCase() %>.</p>
                <% } else { %>
                    <p>Er zijn momenteel geen wedstrijden gepland.</p>
                    <% } %>
                        <% } %>
</div>
<div id="admin-status" data-is-admin="<%= user.role_id === 1 ? 'true' : 'false' %>" style="display: none;"></div>