<a class="back" href="/beheerderspaneel"
  ><svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="size-6"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M15.75 19.5 8.25 12l7.5-7.5"
    />
  </svg>
  Ga terug naar beheerderspaneel overzicht</a
>

<h1 class="title">Bestellingen beheren</h1>

<div class="table-controls">
  <div class="search-container">
    <input
      type="text"
      id="searchInput-orders"
      placeholder="Zoeken op naam"
      class="search-input"
    />
  </div>
  <div class="filter-container">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="filter-icon"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z"
      />
    </svg>
    <div class="filter">
      <select id="filterSelect" class="filter-select">
        <option value="">Geen filters</option>
        <option value="PAID">Betaald</option>
        <option value="NOT_PAID">Niet Betaald</option>
      </select>
    </div>
  </div>
</div>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Bestelling ID</th>
        <th>Voornaam</th>
        <th>Achternaam</th>
        <th>Product ID</th>
        <th>Productnaam</th>
        <th>Aantal</th>
        <th>Prijs</th>
        <th>Bestelstatus</th>
        <th>Betaalmethode</th>
        <th>Datum</th>
      </tr>
    </thead>
    <tbody id="ordersTableBody">
      <% orders.forEach(order => { order.orderItems.forEach(item => { %> <%
      const date = new Date(order.order_on); const formattedDate
      =date.toLocaleString('nl-BE', { day: '2-digit', month: '2-digit', year:
      'numeric', hour: '2-digit', minute: '2-digit' }); %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.user.firstname %></td>
        <td><%= order.user.lastname %></td>
        <td><%= item.consumable ? item.consumable.id : 'unkown' %></td>
        <td><%= item.consumable ? item.consumable.name : 'unkown' %></td>
        <td><%= item.quantity %></td>
        <td>€<%= item.price.toFixed(2) %></td>
        <td class="<%= order.status === 'PAID' ? 'success' : 'error' %>">
          <%= order.status %>
        </td>
        <td><%= order.method %></td>
        <td><%= formattedDate %></td>
      </tr>

      <% }); %> <% }) %>
    </tbody>
  </table>
</div>
