<a class="back" href="/beheerderspaneel">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="size-6"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M15.75 19.5 8.25 12l7.5-7.5"
    />
  </svg>
  Ga terug naar beheerderspaneel overzicht</a
>

<div>
  <h1 class="title">Producten beheren</h1>
  <section>
    <div>
      <button id="addNewConsumable" class="btn btn--primary">
        Nieuw Product
      </button>
    </div>

    <div class="table-controls">
      <div class="search-container">
        <input
          type="text"
          id="searchInput"
          placeholder="Zoeken op product"
          class="search-input"
        />
      </div>
      <div class="filter-container">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="filter-icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z"
          />
        </svg>
        <div class="filter">
          <select id="filterSelect" class="filter-select">
            <option value="">Alle categorieën</option>
            <option value="1">Drinken</option>
            <option value="2">Eten</option>
          </select>
        </div>
      </div>
    </div>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Naam</th>
            <th>Prijs</th>
            <th>Afbeelding</th>
            <th>Categorie</th>
            <th>Acties</th>
          </tr>
        </thead>
        <tbody>
          <% if(consumables && consumables.length> 0) { %> <%
          consumables.forEach(consumable=> { %>
          <tr>
            <td><%= consumable.id %></td>
            <td><%= consumable.name %></td>
            <td><%= consumable.price %></td>
            <td>
              <img
                src="<%= consumable.image_url %>"
                alt="<%= consumable.name %>"
              />
            </td>
            <td><%= consumable.category_id %></td>
            <td>
              <button
                class="btn btn--secondary edit-consumable"
                data-id="<%= consumable.id %>"
              >
                Bewerken
              </button>
              <button
                class="btn btn--danger delete-consumable"
                data-id="<%= consumable.id %>"
              >
                Verwijderen
              </button>
            </td>
          </tr>
          <% }); %> <% } else { %>
          <tr>
            <td colspan="7">Geen Producten gevonden</td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </section>
</div>
