<div class="form-group">
  <label class="form-label">
    <%= label %>
  </label>
  <% if(type==='textarea' ) { %>
    <textarea class="form-control <% if (locals.err) { %>form-control-error<% } %>" name="<%= name %>"
      required><%= locals.value %></textarea>
    <% } else { %>
      <input class="form-control <% if (locals.err) { %>form-control-error<% } %>" type="<%= type %>" name="<%= name %>"
        value="<%= locals.value %>" placeholder="<%= label %>" />
      <% } %>
        <% if (locals.err) { %>
          <div class="error-message">
            <%= err %>
          </div>
          <% } %>
</div>