<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1.6;
      color: #333333;
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
    }

    .email-container {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      background-color: #ffffff;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      margin-top: 2rem;
    }

    .email-header {
      background-color: rgb(15, 44, 73);
      padding: 20px;
      text-align: center;
    }

    .email-header img {
      width: 150px;
      max-width: 80%;
    }

    .email-content {
      padding: 30px;
    }

    .email-footer {
      background-color: #f3f4f6;
      padding: 15px;
      text-align: center;
      font-size: 12px;
      color: #6b7280;
    }

    h1 {
      color: #f94d1c;
      font-size: 24px;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 16px;
      font-size: 16px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #e5e7eb;
      background-color: #f3f4f6;
    }

    td {
      padding: 10px;
      border-bottom: 1px solid #e5e7eb;
    }

    .product-text {
      text-align: left;

    }

    .quantity-text {
      text-align: center;
    }

    .price-text {
      text-align: right;
    }
  </style>
</head>

<body>
  <div class="email-container">
    <div class="email-header">
    </div>

    <div class="email-content">
      <h1>Bestelling overzicht</h1>
      <p>Beste gebruiker,</p>
      <p>Bedankt voor je bestelling. Hieronder vind je een overzicht van je bestelde items:</p>

      <table>
        <thead>
          <tr>
            <th class="product-text">Product</th>
            <th class="quantity-text">Aantal</th>
            <th class="price-text">Prijs</th>
          </tr>
        </thead>
        <tbody>
          <% data.orderItems.forEach(item=> { %>
            <tr>
              <td class="product-text">
                <%= item.consumable.name %>
              </td>
              <td class="quantity-text">
                <%= item.quantity %>
              </td>
              <td class="price-text">€<%= item.price %>
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
      <p><strong>Totaal: </strong> €<%= data.orderItems.reduce((total, item)=> total + item.price, 0) %>
      </p>
    </div>

    <div class="email-footer">
      <p>&copy; <%= new Date().getFullYear() %> Achronix. Alle rechten voorbehouden.</p>
    </div>
  </div>
</body>

</html>